{{!-- each needs to iterate through the values stored in the property 'books' -- look at line 10 in book.routes --}}
{{#each books}}
 <section class="book-summary">

        <h2>{{this.title}}</h2>
        <p>
            Author: {{this.author.name}}, from {{this.author.country}}<br />
            Rating: {{this.rating}} <br />
            <a href="/books/{{id}}">More details</a>
            <a href="/books/{{_id}}/edit">Edit</a>
        </p>

    </section>
{{/each}}