<h2> Name of book: {{title}} </h2>
<br>
<h4> Author: {{author}} </h4>
<br>
<h5> Rating: {{rating}} </h5>
<br>
{{description}}

<br>
<a href="/books"> Back </a>
<br>
<a href="/books/{{_id}}/edit">Edit book</a>
<br>
<p>
<form action="/books/{{_id}}/delete" method="POST">
            <button>Delete</button>
        </form>
    </p>